<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap" rel="stylesheet">
    <title>Footer</title>
    <link href="footer.css" rel="stylesheet">
</head>
<body>
    <section id="footer">
        <img src="img/footer.jpg" class="footer-img">
        <div class="title-text">
            <p>CONTACT</p>
            <h1>SHOP TODAY</h1>
        </div>

        <div class="footer-row">
            <div class="footer-left">
                <h1>Opening Hours</h1>
                <p><i class="fa fa-clock-o"></i>Monday to Friday - 10am to 10pm</p>
                <p><i class="fa fa-clock-o"></i>Saturday and Sunday - 10am to 5pm</p>
            </div>
            <div class="footer-right">
                <h1>Get IN Touch</h1>
                <p>Plotno. 96/1122, Jagannath Nagar , GGP Colony , Bhubaneswar ,Pin-751025  <i class="fa fa-map-marker"></i> </p>
                <p>kuresh6370@gmail.com  <i class="fa fa-paper-plane"></i></p>
                <p>6370160750  <i class="fa fa-phone"></i></p>
            </div>
        </div>


        <div class="social-links">
            <i class="fa fa-facebook"></i>
            <i class="fa fa-instagram"></i>
            <i class="fa fa-twitter"></i>
            <i class="fa fa-linkedin"></i>
            <i class="fa fa-youtube-play"></i>
        </div>

    </section>
</body>
</html>