<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="spare.css">
    <title>Spare parts</title>
</head>

<body>
    <div id="sideNav">
        <nav>
            <ul>
                <li><a href="home.html">HOME</a></li>
                <li><a href="customize.html">CUSTOMIZE</a></li>
                <li><a href="spare.html">SPARE PARTS</a></li>
                <li><a href="aboutus.html">ABOUT US</a></li>
                <li><a href="contact.html">MEET US</a></li>
                <li><a href="signin.html">LOG IN</a></li>
            </ul>
        </nav>
    </div>
    <div id="menuBtn">
        <img src="img/menu.png" id="menu">
    </div>

    <section id="feature">
        <div class="title-text">
            <p>SPARE PARTS</p>
            <h1>We Provide Better Facilities In Less Time</h1>
        </div>
    
    <!-- body-->
    <div class="container">
        <a href="#cpucooler">
            <div class="categories">
                <img src="img/cooler.jpg" class="item-image">
                <div class="image-title">CPU Cooler</div>
            </div>
        </a>
        <a href="#psu">
            <div class="categories">
                <img src="img/psu.jpg" class="item-image">
                <div class="image-title">PSU</div>
            </div>
        </a>
        <a href="#processor">
            <div class="categories">
                <img src="img/processor.jpg" class="item-image">
                <div class="image-title">Processor</div>
            </div>
        </a>
        <a href="#motherboard">
            <div class="categories">
                <img src="img/service2.jpg" class="item-image">
                <div class="image-title">Mother Board</div>
            </div>
        </a>
        <a href="#ram">
            <div class="categories">
                <img src="img/ram.jpg" class="item-image">
                <div class="image-title">RAM 32GB Total </div>
            </div>
        </a>
        <a href="#graphicscard">
            <div class="categories">
                <img src="img/graphics.jpg" class="item-image">
                <div class="image-title">Graphics Card</div>
            </div>
        </a>
        <a href="#primarystorage">
            <div class="categories">
                <img src="img/primary.jpg" class="item-image">
                <div class="image-title">Primary Storage For OS</div>
            </div>
        </a>
        <a href="#secondarystorage">
            <div class="categories">
                <img src="img/secondary.jpg" class="item-image">
                <div class="image-title">Secondary Storage</div>
            </div>
        </a>
        <a href="#case">
            <div class="categories">
                <img src="img/case.jpg" class="item-image">
                <div class="image-title">Case</div>
            </div>
        </a>
    </div>
    <!--Deal-->
    <div class="deals-container" id="deals">
        <div class="parallax">
            <div class="title">DEALS</div>
        </div>
        <div class="deal">
            Save 20% on minimun purchase of $149 on Spares <br>
            <button class="coupon-btn">Add Coupon</button>
        </div>
        <div class="deal">
            Save 10% on minimun purchase of $179 on Spares <br>
            <button class="coupon-btn">Add Coupon</button>
        </div>
        <div class="deal">
            Save 15% on minimun purchase of $200 on Spares <br>
            <button class="coupon-btn">Add Coupon</button>
        </div>
    </div>
    <!--Deal-->
    <!--CPU Cooler-->
    <div class="deals-container" id="cpucooler">
        <div class="parallax">
            <div class="title">CPU Cooler</div>
        </div>
        <div class="items">
            <div class="images">
                <img src="img/cooler.jpg" class="item-image-size">
            </div>
            <div class="description">
                <b>NZXT Kraken</b> <br>
                <div class="item-select">
                    Price : $2.99/250grams
                </div>
                <label>Type </label>
                <select class="item-select">
                    <option>X73 360mm Liquid Cooler</option>
                    <option>Z73 360mm Liquid Cooler</option>
                    <option>X53 RGB 240mm Liquid Cooler</option>
                    <option>X63 RGB 280mm Liquid Cooler</option>
                    <option>X73 RGB 360mm Liquid Cooler</option>
                    <option>Z53 240mm Liquid Cooler</option>
                    <option>Z63 28mm Liquid Cooler</option>
                </select><br>
                <label>QTY : </label>
                <select class="item-select">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select><br>
                <button class="buynow-btn">Buy Now</button>
            </div>
        </div>
        <div class="items">
            <div class="images">
                <img src="img/cooler.jpg" class="item-image-size">
            </div>
            <div class="description">
                <b>MSI MAG</b> <br>
                <div class="item-select">
                    Price : $1.99/250grams
                </div>
                <label>Type </label>
                <select class="item-select">
                    <option>240R ARGB CPU Liquid Cooler</option>
                    <option>360R ARGB CPU Liquid Cooler</option>
                </select><br>
                <label>QTY : </label>
                <select class="item-select">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select><br>
                <button class="buynow-btn">Buy Now</button>
            </div>
        </div>
        
    </div>
    <!--CPU Cooler-->
    <!--PSU-->
    <div class="deals-container" id="psu">
        <div class="parallax">
            <div class="title">PSU</div>
        </div>
        <div class="items">
            <div class="images">
                <img src="img/psu.jpg" class="item-image-size">
            </div>
            <div class="description">
                <b>Antec</b> <br>
                <div class="item-select">
                    Price : $2.99/1pc
                </div>
                <label>Type</label>
                <select class="item-select">
                    <option>Lorem, ipsum dolor.</option>
                    <option>Lorem, ipsum dolor.</option>
                    <option>Lorem, ipsum dolor.</option>
                    <option>Lorem, ipsum dolor.</option>
                </select><br>
                <label>QTY : </label>
                <select class="item-select">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select><br>
                <button class="buynow-btn">Buy Now</button>
            </div>
        </div>
        <div class="items">
            <div class="images">
                <img src="img/psu.jpg" class="item-image-size">
            </div>
            <div class="description">
                <b>Deep Cool</b> <br>
                <div class="item-select">
                    Price : $1.99/1pc
                </div>
                <label>Type </label>
                <select class="item-select">
                    <option>Lorem, ipsum dolor.</option>
                    <option>Lorem, ipsum dolor.</option>
                    <option>Lorem, ipsum dolor.</option>
                    <option>Lorem, ipsum dolor.</option>
                </select><br>
                <label>QTY : </label>
                <select class="item-select">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select><br>
                <button class="buynow-btn">Buy Now</button>
            </div>
        </div>
        
    </div>
    <!--PSU-->
    <!--Processor-->
    <div class="deals-container" id="processor">
        <div class="parallax">
            <div class="title">Processor</div>
        </div>
        <div class="items">
            <div class="images">
                <img src="img/processor.jpg" class="item-image-size">
            </div>
            <div class="description">
                <b>Deep Cool</b> <br>
                <div class="item-select">
                    Price : $1.99/1pc
                </div>
                <label>Type </label>
                <select class="item-select">
                    <option>Lorem, ipsum dolor.</option>
                    <option>Lorem, ipsum dolor.</option>
                    <option>Lorem, ipsum dolor.</option>
                    <option>Lorem, ipsum dolor.</option>
                </select><br>
                <label>QTY : </label>
                <select class="item-select">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select><br>
                <button class="buynow-btn">Buy Now</button>
            </div>
        </div>
        
    </div>
    <!--Processor-->
    <!--MotherBoard-->
    <div class="deals-container" id="motherboard">
        <div class="parallax">
            <div class="title">MotherBoard</div>
        </div>
        <div class="items">
            <div class="images">
                <img src="img/service2.jpg" class="item-image-size">
            </div>
            <div class="description">
                <b>Deep Cool</b> <br>
                <div class="item-select">
                    Price : $1.99/1pc
                </div>
                <label>Type </label>
                <select class="item-select">
                    <option>Lorem, ipsum dolor.</option>
                    <option>Lorem, ipsum dolor.</option>
                    <option>Lorem, ipsum dolor.</option>
                    <option>Lorem, ipsum dolor.</option>
                </select><br>
                <label>QTY : </label>
                <select class="item-select">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select><br>
                <button class="buynow-btn">Buy Now</button>
            </div>
        </div>
        
    </div>
    <!--MotherBoard-->
    <!--RAM-->
    <div class="deals-container" id="ram">
        <div class="parallax">
            <div class="title">RAM</div>
        </div>
        <div class="items">
            <div class="images">
                <img src="img/ram.jpg" class="item-image-size">
            </div>
            <div class="description">
                <b>Deep Cool</b> <br>
                <div class="item-select">
                    Price : $1.99/1pc
                </div>
                <label>Type </label>
                <select class="item-select">
                    <option>Lorem, ipsum dolor.</option>
                    <option>Lorem, ipsum dolor.</option>
                    <option>Lorem, ipsum dolor.</option>
                    <option>Lorem, ipsum dolor.</option>
                </select><br>
                <label>QTY : </label>
                <select class="item-select">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select><br>
                <button class="buynow-btn">Buy Now</button>
            </div>
        </div>
        <div class="items">
            <div class="images">
                <img src="img/ram.jpg" class="item-image-size">
            </div>
            <div class="description">
                <b>Deep Cool</b> <br>
                <div class="item-select">
                    Price : $1.99/1pc
                </div>
                <label>Type </label>
                <select class="item-select">
                    <option>Lorem, ipsum dolor.</option>
                    <option>Lorem, ipsum dolor.</option>
                    <option>Lorem, ipsum dolor.</option>
                    <option>Lorem, ipsum dolor.</option>
                </select><br>
                <label>QTY : </label>
                <select class="item-select">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select><br>
                <button class="buynow-btn">Buy Now</button>
            </div>
        </div>
        <div class="items">
            <div class="images">
                <img src="img/ram.jpg" class="item-image-size">
            </div>
            <div class="description">
                <b>Deep Cool</b> <br>
                <div class="item-select">
                    Price : $1.99/1pc
                </div>
                <label>Type </label>
                <select class="item-select">
                    <option>Lorem, ipsum dolor.</option>
                    <option>Lorem, ipsum dolor.</option>
                    <option>Lorem, ipsum dolor.</option>
                    <option>Lorem, ipsum dolor.</option>
                </select><br>
                <label>QTY : </label>
                <select class="item-select">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select><br>
                <button class="buynow-btn">Buy Now</button>
            </div>
        </div>
        
    </div>
    <!--RAM-->
    <!--Graphics Card-->
    <div class="deals-container" id="graphicscard">
        <div class="parallax">
            <div class="title">Graphics Card</div>
        </div>
        <div class="items">
            <div class="images">
                <img src="img/graphics.jpg" class="item-image-size">
            </div>
            <div class="description">
                <b>Deep Cool</b> <br>
                <div class="item-select">
                    Price : $1.99/1pc
                </div>
                <label>Type </label>
                <select class="item-select">
                    <option>Lorem, ipsum dolor.</option>
                    <option>Lorem, ipsum dolor.</option>
                    <option>Lorem, ipsum dolor.</option>
                    <option>Lorem, ipsum dolor.</option>
                </select><br>
                <label>QTY : </label>
                <select class="item-select">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select><br>
                <button class="buynow-btn">Buy Now</button>
            </div>
        </div>
        <div class="items">
            <div class="images">
                <img src="img/graphics.jpg" class="item-image-size">
            </div>
            <div class="description">
                <b>Deep Cool</b> <br>
                <div class="item-select">
                    Price : $1.99/1pc
                </div>
                <label>Type </label>
                <select class="item-select">
                    <option>Lorem, ipsum dolor.</option>
                    <option>Lorem, ipsum dolor.</option>
                    <option>Lorem, ipsum dolor.</option>
                    <option>Lorem, ipsum dolor.</option>
                </select><br>
                <label>QTY : </label>
                <select class="item-select">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select><br>
                <button class="buynow-btn">Buy Now</button>
            </div>
        </div>
        
    </div>
    <!--Graphics Card-->
     <!--Primary Storage-->
     <div class="deals-container" id="primarystorage">
        <div class="parallax">
            <div class="title">Primary Storage</div>
        </div>
        <div class="items">
            <div class="images">
                <img src="img/primary.jpg" class="item-image-size">
            </div>
            <div class="description">
                <b>Deep Cool</b> <br>
                <div class="item-select">
                    Price : $1.99/1pc
                </div>
                <label>Type </label>
                <select class="item-select">
                    <option>Lorem, ipsum dolor.</option>
                    <option>Lorem, ipsum dolor.</option>
                    <option>Lorem, ipsum dolor.</option>
                    <option>Lorem, ipsum dolor.</option>
                </select><br>
                <label>QTY : </label>
                <select class="item-select">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select><br>
                <button class="buynow-btn">Buy Now</button>
            </div>
        </div>
        <div class="items">
            <div class="images">
                <img src="img/primary.jpg" class="item-image-size">
            </div>
            <div class="description">
                <b>Deep Cool</b> <br>
                <div class="item-select">
                    Price : $1.99/1pc
                </div>
                <label>Type </label>
                <select class="item-select">
                    <option>Lorem, ipsum dolor.</option>
                    <option>Lorem, ipsum dolor.</option>
                    <option>Lorem, ipsum dolor.</option>
                    <option>Lorem, ipsum dolor.</option>
                </select><br>
                <label>QTY : </label>
                <select class="item-select">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select><br>
                <button class="buynow-btn">Buy Now</button>
            </div>
        </div>
        <div class="items">
            <div class="images">
                <img src="img/primary.jpg" class="item-image-size">
            </div>
            <div class="description">
                <b>Deep Cool</b> <br>
                <div class="item-select">
                    Price : $1.99/1pc
                </div>
                <label>Type </label>
                <select class="item-select">
                    <option>Lorem, ipsum dolor.</option>
                    <option>Lorem, ipsum dolor.</option>
                    <option>Lorem, ipsum dolor.</option>
                    <option>Lorem, ipsum dolor.</option>
                </select><br>
                <label>QTY : </label>
                <select class="item-select">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select><br>
                <button class="buynow-btn">Buy Now</button>
            </div>
        </div>
        <div class="items">
            <div class="images">
                <img src="img/primary.jpg" class="item-image-size">
            </div>
            <div class="description">
                <b>Deep Cool</b> <br>
                <div class="item-select">
                    Price : $1.99/1pc
                </div>
                <label>Type </label>
                <select class="item-select">
                    <option>Lorem, ipsum dolor.</option>
                    <option>Lorem, ipsum dolor.</option>
                    <option>Lorem, ipsum dolor.</option>
                    <option>Lorem, ipsum dolor.</option>
                </select><br>
                <label>QTY : </label>
                <select class="item-select">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select><br>
                <button class="buynow-btn">Buy Now</button>
            </div>
        </div>
        
    </div>
    <!--Primary Storage-->
    <!--Secondary Storage-->
    <div class="deals-container" id="secondarystorage">
        <div class="parallax">
            <div class="title">Secondary Storage</div>
        </div>
        <div class="items">
            <div class="images">
                <img src="img/secondary.jpg" class="item-image-size">
            </div>
            <div class="description">
                <b>Deep Cool</b> <br>
                <div class="item-select">
                    Price : $1.99/1pc
                </div>
                <label>Type </label>
                <select class="item-select">
                    <option>Lorem, ipsum dolor.</option>
                    <option>Lorem, ipsum dolor.</option>
                    <option>Lorem, ipsum dolor.</option>
                    <option>Lorem, ipsum dolor.</option>
                </select><br>
                <label>QTY : </label>
                <select class="item-select">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select><br>
                <button class="buynow-btn">Buy Now</button>
            </div>
        </div>
        <div class="items">
            <div class="images">
                <img src="img/secondary.jpg" class="item-image-size">
            </div>
            <div class="description">
                <b>Deep Cool</b> <br>
                <div class="item-select">
                    Price : $1.99/1pc
                </div>
                <label>Type </label>
                <select class="item-select">
                    <option>Lorem, ipsum dolor.</option>
                    <option>Lorem, ipsum dolor.</option>
                    <option>Lorem, ipsum dolor.</option>
                    <option>Lorem, ipsum dolor.</option>
                </select><br>
                <label>QTY : </label>
                <select class="item-select">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select><br>
                <button class="buynow-btn">Buy Now</button>
            </div>
        </div>
        <div class="items">
            <div class="images">
                <img src="img/secondary.jpg" class="item-image-size">
            </div>
            <div class="description">
                <b>Deep Cool</b> <br>
                <div class="item-select">
                    Price : $1.99/1pc
                </div>
                <label>Type </label>
                <select class="item-select">
                    <option>Lorem, ipsum dolor.</option>
                    <option>Lorem, ipsum dolor.</option>
                    <option>Lorem, ipsum dolor.</option>
                    <option>Lorem, ipsum dolor.</option>
                </select><br>
                <label>QTY : </label>
                <select class="item-select">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select><br>
                <button class="buynow-btn">Buy Now</button>
            </div>
        </div>
        
    </div>
    <!--Secondary Storage-->
    <!--Case-->
    <div class="deals-container" id="case">
        <div class="parallax">
            <div class="title">Case</div>
        </div>
        <div class="items">
            <div class="images">
                <img src="img/case.jpg" class="item-image-size">
            </div>
            <div class="description">
                <b>Deep Cool</b> <br>
                <div class="item-select">
                    Price : $1.99/1pc
                </div>
                <label>Type </label>
                <select class="item-select">
                    <option>Lorem, ipsum dolor.</option>
                    <option>Lorem, ipsum dolor.</option>
                    <option>Lorem, ipsum dolor.</option>
                    <option>Lorem, ipsum dolor.</option>
                </select><br>
                <label>QTY : </label>
                <select class="item-select">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select><br>
                <button class="buynow-btn">Buy Now</button>
            </div>
        </div>
        <div class="items">
            <div class="images">
                <img src="img/case.jpg" class="item-image-size">
            </div>
            <div class="description">
                <b>Deep Cool</b> <br>
                <div class="item-select">
                    Price : $1.99/1pc
                </div>
                <label>Type </label>
                <select class="item-select">
                    <option>Lorem, ipsum dolor.</option>
                    <option>Lorem, ipsum dolor.</option>
                    <option>Lorem, ipsum dolor.</option>
                    <option>Lorem, ipsum dolor.</option>
                </select><br>
                <label>QTY : </label>
                <select class="item-select">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select><br>
                <button class="buynow-btn">Buy Now</button>
            </div>
        </div>
        <div class="items">
            <div class="images">
                <img src="img/case.jpg" class="item-image-size">
            </div>
            <div class="description">
                <b>Deep Cool</b> <br>
                <div class="item-select">
                    Price : $1.99/1pc
                </div>
                <label>Type </label>
                <select class="item-select">
                    <option>Lorem, ipsum dolor.</option>
                    <option>Lorem, ipsum dolor.</option>
                    <option>Lorem, ipsum dolor.</option>
                    <option>Lorem, ipsum dolor.</option>
                </select><br>
                <label>QTY : </label>
                <select class="item-select">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select><br>
                <button class="buynow-btn">Buy Now</button>
            </div>
        </div>
        <div class="items">
            <div class="images">
                <img src="img/case.jpg" class="item-image-size">
            </div>
            <div class="description">
                <b>Deep Cool</b> <br>
                <div class="item-select">
                    Price : $1.99/1pc
                </div>
                <label>Type </label>
                <select class="item-select">
                    <option>Lorem, ipsum dolor.</option>
                    <option>Lorem, ipsum dolor.</option>
                    <option>Lorem, ipsum dolor.</option>
                    <option>Lorem, ipsum dolor.</option>
                </select><br>
                <label>QTY : </label>
                <select class="item-select">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select><br>
                <button class="buynow-btn">Buy Now</button>
            </div>
        </div>
        <div class="items">
            <div class="images">
                <img src="img/case.jpg" class="item-image-size">
            </div>
            <div class="description">
                <b>Deep Cool</b> <br>
                <div class="item-select">
                    Price : $1.99/1pc
                </div>
                <label>Type </label>
                <select class="item-select">
                    <option>Lorem, ipsum dolor.</option>
                    <option>Lorem, ipsum dolor.</option>
                    <option>Lorem, ipsum dolor.</option>
                    <option>Lorem, ipsum dolor.</option>
                </select><br>
                <label>QTY : </label>
                <select class="item-select">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select><br>
                <button class="buynow-btn">Buy Now</button>
            </div>
        </div>
        
    </div>
    <!--Case-->
    <!--Home body ends-->

    <script>
        var menuBtn = document.getElementById("menuBtn");
        var sideNav = document.getElementById("sideNav");
        var menu = document.getElementById("menu");

        sideNav.style.right = "-250px"

        menuBtn.onclick = function () {
            if (sideNav.style.right == "-250px") {
                sideNav.style.right = "0";

                menu.src = "img/close.png";
            }
            else {
                sideNav.style.right = "-250px";

                menu.src = "img/menu.png"
            }
        }
    </script>
</body>

</html>